@model partyInvites.Models.GuestResponse

@{
    ViewBag.Title = "Interesting form ";
}




<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            @using (Html.BeginForm("RsvForm", "Home", FormMethod.Post, new { role = "form", id = "mose", }))

            {

                <!-- , new { style = "color:red" } -->
                <!-- Model Binding the ohter important step in this whole game -->

                <div class="form-group">

                    @Html.LabelFor(model => model.Name)
                    <!-- Using items that end with FOr  instead of just   top if dealing with binding -->
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "exampleInputEmail1", type = "email" })

                    <input type="email" class="form-control" id="exampleInputEmail1" />
                </div>
                <div class="form-group">

                    <label for="exampleInputPassword1">
                        Password
                    </label>
                    <input type="password" class="form-control" id="exampleInputPassword1" />
                </div>
                <div class="form-group">

                    <label for="exampleInputFile">
                        File input
                    </label>
                    <input type="file" class="form-control-file" id="exampleInputFile" />
                    <p class="help-block">
                        Example block-level help text here.
                    </p>
                </div>
                <div class="checkbox">

                    <label>
                        <input type="checkbox" /> Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            }
        </div>
    </div>
</div>







