@model partyInvites.Models.GuestResponse

@{
    ViewBag.Title = "Thanks";
}

<h2>
    Thank you @Model.Name
</h2>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @if (Model.willAtted == true)
            {
                @:
                <div class="alert alert-success alert-dismissable">
                    Its great that you are coming, thanks for honoring
                </div>
            }
            else
            {
                @:
                <div class="alert alert-danger alert-dismissable">
                    Sad about that, I hope you are ok
                </div>
            }

            @Html.ActionLink("RSV PRX", "RsvForm")
        </div>
    </div>
</div>

